.right_part li{
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid silver;
    padding: 30px 24px;
}
.right_part li p{
    color: #09122B;
font-family: "Shippori Mincho B1";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 110%;
}

.news_dates{
    background-color: white;
    margin: 50px auto;
}

.news_dates h2{
    color: var(--text_gray, #4D4D4D);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: "Hina Mincho";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}

.news_dates{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
 .news_dates .new_right_part{
    width: 70%;
    text-align: center;
}
.slider{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.number{
    border: 0.3px solid #908F8F;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #908F8F;
font-family: "Shippori Mincho B1";
}

.new_btn{
    color: #000;
font-family: Poly;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 30.4px */
padding: 3px 10px;
border: 0.5px solid #000;
margin-bottom: 30px;
background-color: white;
}

.new_right_part ul li span{
    color: var(--gray_2, #908F8F);

/* default2 */
font-family: Poly;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 30.4px */
}

.new_right_part ul li button{
padding: 3px 10px;
color: #4D4D4D;

margin: 0 18px;
font-family: Poly;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 19.2px */
}

.new_right_part ul li p{
    color: var(--text_gray, #4D4D4D);

/* default2 */
font-family: Poly;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 30.4px */
}

@media(max-width:650px){
    .new_right_part ul li span{
        display: block;
        margin: 0 auto;
    }

    .new_right_part ul li button{
        display: block;
        margin: 0 auto;
    }
    .new_right_part ul li{
        padding: 50px 0;
        text-align: center;
    }
    .right_part li{
        justify-content: center;
        gap: 10px;
    }
}

@media(max-width:550px){
    .footer_part ul{
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
}
@media(max-width:430px){
    .footer_part ul{
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}